---
export interface Props {
  Icon: any;
  title: string;
  description: string;
  iconSize: {
    width: number;
    height: number;
  }
  techDetails: string[];
}

const { title, Icon, description, iconSize, techDetails } = Astro.props;
---
<li class="bg-white border dark:border-blue-light border-black/10 dark:bg-blue rounded-[12px] overflow-hidden">
  <div class="dark:bg-blue border-b dark:border-blue-light pr-3 flex items-center justify-between">
    <div class="flex items-center justify-start gap-5">
      <div class="h-[50px] w-[50px] inline-flex items-center justify-center border-r dark:border-r-blue-light">
        <Icon width={iconSize.width} height={iconSize.height} />
      </div>
      <h3 class="font-semibold text-sm top-px relative">{title}</h3>
    </div>
  </div>
  <div class="px-5 py-5">
    <p class="text-sm text-blue-dark/80 dark:text-white/80">{description}</p>
  </div>
  <div class="dark:bg-blue-light p-5 bg-white border-t dark:border-blue border-black/10">
    <h4 class="mb-1.5 font-semibold text-xs top-px relative">Tech Details</h4>
    {techDetails.map((detail) => (
      <p class="text-xs text-blue-dark/80 dark:text-white/80 mb-1.5 last:mb-0">{detail}</p>
    ))}
  </div>
</li>